.requestContainer {
  padding: 36px 13px 35px 17px;
  border-radius: 12px;
  box-shadow: 0 8px 19px 0 rgba(81, 94, 157, 0.16);
  background-color: #f1f3ff;

  padding: 27px 25px;
  min-height: calc(100vh - 130px);

  h1 {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #3c3e48;
    margin-bottom: 27px;
  }

  .status {
    height: 44px;
    border-radius: 44px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;

    .active,
    .closed {
      width: 50%;
      height: 100%;
      line-height: 44px;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: #a1abc4;
      border-radius: 44px;

      &.selected {
        background-color: #1552f0;
        color: #fff;
      }
    }
  }
}