.aboutSection {
  border-bottom: solid 1px #cecece;
  padding: 0 10px 100px 10px;
}


.addItem {
  padding: 5px 20px;
  cursor: pointer;
  border: none;
  border-radius: 29px;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.16);
  background-color: #000;
  color: #fff;
  margin: 25px 0;
}
