.autocomplete {
position: relative;
width: 100%;
margin-bottom :30px;

  input {
    display: block;
    width: 100%;
    padding: 7px 15px;
    margin-bottom: 15px;
  }

.tagDropdown {
  display: flex;
  z-index: 999;
  flex-direction: column;
  position: absolute;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #a1abc4;
  width: 100%;
  border-radius: 15px;
  top: 100%;
  height: auto;
  overflow: hidden;
  background: #fff;

  li {
    padding: 4px 10px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.125);
      cursor: pointer;
    }
  }
  }

}