.chat {
  min-height: calc(100vh - 150px);
  width: 100%;
  background-color: #f1f3ff;

  .messagesContainer {
    height: calc(100vh - 250px);
  .messages {
    overflow-y: auto;
    padding: 19px 23px;
    max-height: 100%;

   p{
     margin: 0;
   } 

  }
}

.bottomItemChat{
  height: 1px;
  margin-bottom: 10px;
}


  .buttonContainer {
    z-index: 9999;
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
      width: 302px;
      padding: 16px 0;
      border-radius: 29px;
      color: #fff;
      box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.16);
      background-color: #1552f0;
      font-size: 16px;
      font-weight: bold;
      display: block;
      border: none;
      padding: none;
      margin-bottom: 16px;
    }

    a {
      text-align: center;
      width: 302px;
      padding: 16px 0;
      border-radius: 29px;
      color: #fff;
      box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.16);
      background-color: #000;
      font-size: 16px;
      font-weight: bold;
      display: block;
      border: none;
      padding: none;
    }
  }
}
