.expertHeadshot {
  padding-bottom: 24px;

  img {
    height: 53px;
    width: 53px;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 14px;
    font-weight: bold;
    color: #3c3e48;
    margin: 0;
  }

  span {
    display: inline-block;
    font-size: 11px;
    color: #a1abc4;
  }

}