  .avatarHead {
    height: 66px;
    padding: 10px 22px;
    box-shadow: 0 8px 19px 0 rgba(81, 94, 157, 0.16);
    background-color: #ffffff;
    display: flex;
    align-items: center;

    .imageContainer {
      height: 45px;
      width: 45px;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }

      .onlineStatus {
        height: 15px;
        width: 15px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: gray;
        border-radius: 50%;
        border: solid 2px #fff;

        &.active {
          background: rgb(29, 220, 118) !important;
        }
      }
    }

    .avatarRight {
      margin-left: 18px;
      display: flex;
      flex-direction: column;
      justify-items: center;

      h3 {
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        color: #3c3e48;
      }

      span {
        font-size: 11px;
        font-weight: bold;
        color: #1552f0;
      }
    }

    .goBack {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      padding: 0 10px;
      margin-right: 18px;

      // margin-right: 15px;
      img {
        width: 20px;
        height: 10px;
      }
    }
  }