.singleRequest {
  padding: 36px 13px 20px 17px;
  border-radius: 12px;
  box-shadow: 0 8px 19px 0 rgba(81, 94, 157, 0.16);
  background-color: #ffffff;
  margin-bottom: 15px;

  h1 {
    font-size: 17px;
    font-weight: bold;
    text-align: left !important;
    color: #3c3e48;
    margin: 0 0 11px 0;
  }

  p {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: normal;
    text-align: left;
    color: #3c3e48;
    margin: 0 0 12px 0;
  }

  span {
    font-size: 13px;
    color: #a1abc4;
  }

  hr {
    width: 300px;
    height: 2px;
    opacity: 0.14;
    border-radius: 1px;
    margin: 12px auto;
    background-color: #a1abc4;
  }

  button {
    span {
      font-size: 15px;
      font-weight: 500;
    }

    margin: 0 auto;
    display: block;
    background-color: #fff;
    padding: 5px 10px;
    border: none;
  }

  .tagContainer {
    display: flex;
    flex-wrap: wrap;
  }

}