.aboutSection {
  border-bottom: solid 1px #cecece;
  padding: 0 10px 100px 10px;
}


.expertise {
  padding: 0 0 100px 0;
}
.skill {
  display: flex;
  padding-bottom: 23px;

  &:not(:first-of-type) {
    padding: 23px 0;
  }

  border-bottom: solid 2px #a1abc44d;


  img {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 14px;
  }

  h6 {
    font-size: 15px;
    font-weight: bold;
    line-height: 31px;
    text-align: left;
    color: #3c3e48;
    margin: 0;
  }

  .experience {
    font-size: 11px;
    line-height: 11px;
    color: #a1abc4;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #3c3e48;
  }
}

