.expertFloatingButton {
  max-width: 300px;
  height: 55px;
  border-radius: 5px;
  border: none;
  background: orangered;
  color: #fff;
  width: 80%;
  position: fixed;
  bottom: 50px;
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%); 
  cursor: pointer;
}
