.expertFloatingButton {
  position: fixed;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%); 
  cursor: pointer;

  border: none;
  width: 302px;
  height: 57px;

  border-radius: 29px;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.16);
  background-color: #000000;

  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  color: #ffffff;

  @media only screen and (max-width: 1024px) {
    bottom: px;
  }
}
