.expertFloatingButton {
  max-width: 300px;
  height: 55px;
  border-radius: 5px;
  border: none;
  background: orangered;
  color: #fff;
  width: 90%;
  position: fixed;
  bottom: 50px;
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%); 
  cursor: pointer;

  @media only screen and (max-width: 1024px) {
    bottom: 15px;
  }
}
