.chat {
  min-height: 350px;
  font-size: 0.9em;
  text-align: left;
  width: 100%;

  .messages {
    width: 100% !important;
    overflow: auto;
    height: 250px;
    
  }

  form {
    bottom: 40px;
    display: flex;
    transform: translateX(-50%);

    input {
       padding: 10px 10px;
       font-weight: medium;
       min-height: 40px;
       text-align: left;
       border-radius: 5px 0 0 5px;
       box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.07);
       border: solid 1px #a1abc4;
       background-color: #ffffff;
       flex: 1;
    }

    button {
      padding: 11px 20px;
      align-self: flex-start;
      cursor: pointer;
      border: none;
      border-radius: 0 5px 5px 0;
      box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.16);
      background-color: #1552f0;
      color: #fff;
    }
  }
}