

.saveButton {
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  background: orangered;
  font-size: 16px;
  color: white;
}

.expertCard {
   width: 213px;
   min-width: 213px;
  //  height: 341px;
   padding: 30px 15px;
   border-radius: 12px;
   box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
   background-color: #ffffff;
   margin-right: 23px;

   display: flex;
   flex-direction: column;
   align-items: center;

   img {
     width: 117px;
     height: 117px;
     border-radius: 50%;
    margin-bottom: 25px;
   }

   .name {
     margin: 0;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #3c3e48;
   }

   .title {
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
       font-size: 12px;
       font-weight: 600;
       line-height: 2.42;
       text-align: center;
       color: #a1abc4;
       margin-bottom: 13px;
   }

   .tags {
      font-size: 12px;
      line-height: 1;
      text-align: center;
      color: #a1abc4;
      margin: 0 0 26px 0;
      
      &:not(:first-of-type) {
        margin-left: 5px;
      }
   }

   .viewProfile {
     width: 179px;
     text-align: center;
     padding: 10px 10px;
     border-radius: 29px;
     color: #fff;
     box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.16);
     background-color: #000000;
     border: none;
     font-weight: 500;
   }
}

.about {
  padding: 0 24px;
  h2 {
    font-size: 18px;
    font-weight: bold;
    color: #3c3e48;
    text-align: center;
    margin-bottom: 30px;
  }

  .navPill {
     border-radius: 44px;
     box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.08);
     background-color: #ffffff;
     height: 44px;
     border-radius: 44px;
     display: flex;
     align-items: center;
     margin-bottom: 43px;
     overflow: hidden;
     
     button {
       width: 33.333%;
       text-align: center;
       cursor: pointer;
       font-size: 16px;
       font-weight: 500;
       height: 100%;
       color: #a1abc4;
       border: none;
       background-color: #fff;

       &:focus {
         border-radius: 44px;
       }

       &.active {
        width: 33.333%;
        height: 44px;
        border-radius: 44px;
        box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.08);
        background-color: #1552f0;
        color: #ffff;
       }
     }
  }
}

.video {
  padding: 0 0 100px 0;

  h6 {
    font-size: 15px;
    font-weight: bold;
    line-height: 41px;
    color: #3c3e48;
    line-height: 1;
    margin: 0;
  }

  span {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #3c3e48;
    margin-bottom: 15px;
    display: block;
  }

  & iframe {
    width: 100%;
    border-radius: 15px;
    height: 192px;
  }

  img {
    width: 100%;
    border-radius: 15px;
  }
}