.navigation {
  height: 80px;
  width: 100%;
  position: relative;
  z-index: 999;
  background: #ffff;
  padding-top: 40px;
  box-shadow: 0 8px 19px 0 rgba(81, 94, 157, 0.16);

  a {
    line-height: 1;
  }

  .loginButton {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.08;
  }

  .userContainer {
    display: flex;
    align-items: center;
    // flex-direction: row-reverse;

    button {
      margin-left : 28px;
      padding: 5px 0;
      width: 35px;
      height: 37px;
      border: none;
      background: none;
      position: relative;
      
      img {
        margin-top: 3px;
      }
    }

    .chatIconNotification::after  {
        content: "";
        position: absolute;
        top: 2px;
        right: 2px;
        height: 11px;
        width: 11px;
        border: solid 2px #fff;
        background: #ee5b5b;
        border-radius: 50%;
        display: block;
        z-index: 9999;
    }

    .user {
      display: flex;
      align-items: center;
  
      cursor: pointer;
  
      span {
      font-size: 12px;
      font-weight: 600;
      color: #000000;
      margin-left: 7px;
    }
  
    }
  }


  .innerNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    padding: 0 25px;
  }
}