.navigation {
  background: black;
  height: 70px;
  color: #fff;
  width: 100%;

  .innerNavigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 960px;
    margin: 0 auto;

    @media only screen and (max-width: 1024px) {
      width: 95%;
    }
  }
}