
.notificationContainer {
  overflow: auto;
  height: 365px;
  width: 100%;
}
.notification {
  margin-bottom: 10px;
  padding: 10px 15px;
  border: none;
  font-weight: bold;
  font-size: 14px;

  box-shadow:  0 0 1px rgba(0, 0, 0, 0.35);
  border: solid 1px rgba(0, 0, 0, 0.1);


  border-radius: 5px;
  background: none;
  width: 100%;

  display: flex;
  align-items: center;
  div {
    margin: 0 0 0 15px;

    h3 {
      margin: 0;
      text-align: left;
    }
    
    p{
      margin: 0;
    }
  }
}