
.notificationContainer {
  overflow: auto;
  height: 365px;
  width: 100%;
  background-color: #f1f3ff;
  padding: 0 10px;
  height: calc(100vh - 130px);
}
.notification {
  margin-bottom: 10px;
  padding: 10px 15px;
  border: none;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
  
  background-color: #fff;

  box-shadow:  0 0 1px rgba(0, 0, 0, 0.35);


  border-radius: 5px;
  width: 100%;

  display: flex;
  align-items: center;
  div {
    margin: 0 0 0 15px;

    h3 {
      margin: 0;
      text-align: left;
      font-weight: 400;
    }
    
    p{
      margin: 0;
    }
  }
}