.request {
 background-color: #f1f3ff;
 padding: 30px 20px;
 min-height: calc(100vh - 130px);
  h1 {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #3c3e48;
    margin: 0 0 16px 0;
  }

  .settings {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 12px;
      color: #a1abc4;
    }

    button {
      background: none;
      border: none;
      padding: 0;
    }

  }
}

.searchRequests {
  border-radius: 12px;
  width: 100%;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.07);
  border: solid 1px #a1abc4;
  background-color: #ffffff;
  color: #a1abc4;
  font-size: 16px;
  height: 0;
  opacity: 0;
  margin-bottom: 15px;
  transition: all .3s ease-out;

  &.active {
    opacity: 1;
    padding: 25px 25px 25px 25px;
    transition: all .3s ease-in;
  }
}

.requestItem {
  border-radius: 12px;
  box-shadow: 0 8px 19px 0 rgba(81, 94, 157, 0.16);
  background-color: #ffffff;
  padding: 20px 25px;
  margin-bottom: 15px;

  .top {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    img {
      width: 29px;
      height: 29px;
      border-radius: 50%;
      margin-right: 8px;
    }

    span {
      font-size: 11px;
      color: #a1abc4;
    }
  }
  .bottom {
    h5 {
      font-size: 15px;
      font-weight: bold;
      line-height: 23px;
      text-align: left;
      color: #3c3e48;
      margin: 0;
    }

    span {
      font-size: 10px;
      font-weight: 500;
      color: #ffffff;
      opacity: 0.55;
      border-radius: 29px;
      background-color: #a1abc4;
      padding: 3px 10px;
      margin-top: 10px;

      &:not(:last-of-type) {
        margin-right: 5px;
      }
    }

    .tagContainer {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.newRequests {
  min-height: calc(100vh - 130px);
  .jumbotron {
    background-color: #1653f0;
    border-radius: 0 0 25px 25px;
    color :#fff;
    padding: 24px 0;


    h1 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }
    h2 {
       font-size: 17px;
       font-weight: 300;
       text-align: center;
       color: #ffffff;
    }
  }

  form {
    padding: 30px 27px;
    label {
      display: block;
      font-size: 17px;
      font-weight: bold;
      font-stretch: normal;
      color: #3c3e48;
      margin-bottom: 10px;
    }

    input, textarea {
      font-family: inherit;
      display: block;
      border-radius: 12px;
      box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.07);
      border: solid 1px #a1abc4;
      background-color: #ffffff;
      padding: 17px;
      font-size: 16px;
      line-height: 13px;
      text-align: left;
      font-weight: 500;
      width: 100%;
      margin-bottom: 34px;
      line-height: 23px;
       &::placeholder {
        font-style: italic;
        color: #a1abc4;
        }
    }

    & input:last-child {
      margin-bottom: 10px;
    }

    .loginBtn {
       border: none;
       padding: 0;
       height: auto;
       background: transparent;
       top: 50%;
       right: 5px;
       cursor: pointer;
    }

    .submit {
      width: 100%;
      border-radius: 29px;
      box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.16);
      background-color: #000000;
      height: 57px;
      font-size: 16px;
      font-weight: bold;
      border: none;

      line-height: 22px;
      text-align: center;
      color: #ffffff;

      &:disabled {
        background-color: #000000;
        opacity: 0.3;
      }
    }
  }

  .tags {
    min-height: 30px;
    display: flex;
    flex-wrap: wrap;

    span {
      border-radius: 29px;
      box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.07);
      background-color: #a1abc4;
      font-size: 14px;
      font-weight: 500;
      line-height: 23px;
      color: #ffffff;
      padding: 5px 35px 5px 15px;
      position: relative;
      margin: 0 5px 10px 0;
    }

    button {
      position: absolute;
      border: none;
      padding: 0;
      height: auto;
      background: transparent;
      top: 50%;
      transform: translateY(-45%);
      right: 5px;
      cursor: pointer;
    }
  }
}


.singleRequest {
  background: #fff !important;
  padding: 50px 25px;
  min-height: calc(100vh - 130px);
  h1 {
    font-size: 23px;
    font-weight: bold;
    text-align: left;
    color: #3c3e48;
    margin-bottom: 30px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }

  span {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    opacity: 0.55;
    border-radius: 29px;
    background-color: #a1abc4;
    padding: 3px 10px;
    margin-top: 10px;

    &:not(:last-of-type) {
      margin-right: 5px;
    }
  }

  .tagContainer {
    display: flex;
    flex-wrap: wrap;
  }
}